server:
  port: 9400
  servlet:
    session:
      cookie:
        http-only: false
        secure: false
jwt:
  secret: ENC(1MBsToCDbYBEvJkfxlSkoBb30kG1MYPqYOcyUcKZOhnodcSkYMncHeTYNyKr0GfYocr9yI3G1cR6DJHykIZTpQ==)

logging:
  level:
    com:
      infp:
        ciat: debug
      amazonaws:
        util:
          EC2MetadataUtils: error
spring:
  security:
    oauth2:
      client:
        # registration
        registration:
          # google oauth2 setting
          google:
            client-id: ENC(yOSSFYzdF6BFvb+VhuwrUUvnEwhdYJQhPAt7O+I9CP/fGWq0EjmEwnYXmz7Yu/QyS9kwLcV4TyTVvnikUI4PKr+eEk1AUVMKNayFLTnIKA8f4KnP82cNsbQKaM/DN2N7Taw0LJHl4CMP8+QBBRI0JA==)
            client-secret: ENC(n093NQezyIRURhvV7DI/t5NrG5WL9f/ks4NkKhEew6X+GBEpCuzW4syxqsRYO3jkqYELcDNz2xPUz3X9Dzp3yW2WLLp8k0Hq5rGyyhTgl5I=)
            scope:
              - profile
              - email
          # github oauth2 setting
          github:
            client-id: ENC(avR1sIiT2FjiEV8Gfc9VsnDj64R1Z76CsfJUkbWraReGvQPXBo27UKP6Pm3rhs18EgqNtD7b2Xm5IwezPSkprA==)
            client-secret: ENC(6h5LvXhqQHUPBD6JqnwzNRlFlfA0g4tjqgP0cPxOUUiVBYIylACHiBS++qICPA2pAzubXiXMDxXkwj7GRz6Dofsz2utfQ/YNrlVNsAOYhTE=)
  datasource:
    url: ENC(SdMJj9dKGhkF+VFShqVQMGHlkmAhjmM0XPWIyA1Nm0FPqORrLWc9cEk29FF6ntVvLLGPdp8cS9F875BZ+hgkEQVZ0gwhz6wN3MlEvggPDp5NnuLWwqZ3KwVznInPehxqZEpa1dbAlFv/5Gmcl8uISQ==)
    driver-class-name: ENC(dhW7Cm9yna7f1mV0Bex6qSMlA+AhOuZdUDU18VFe4YTvBz1Rev0UeU1rmcSHlA/wGwM+VqMMAKHs2R+j21LHOA==)
    username: ENC(blW7MEaDg8iJTGp5PEETV5e1hIwlMxVZsn1eBI8iZ5/OxhY4dvZKIzb9fE4g0R7y)
    password: ENC(u+eGNk3Cmyzf2ZbtQfKWBAmN3bWWVTUMiLK2FbCtp7Iya1hs0x2cs2DqQVtGH4dj0a+NjswWJO8nbBNz10hflg==)
  jpa:
    open-in-view: false
    generate-ddl: true
    show-sql: true
    hibernate:
      ddl-auto: update
      database-platform: ENC(HUPevaLfmLDzFPVbGkeMOkOm3Y38mg6zxfNXUJsckzCwJEnVl6rhURSMQSf8lHh8WIBkBvmMNq2CVz0Uhu3fX1AjmQHIpcOOJHONm8X0eHA=)

#농사로 api service key, public url
nongsaro:
  url: http://api.nongsaro.go.kr/service/garden/
  key: ENC(53HGLcuFthBpODy/ksdZzUFiyznV5LG4QhgoFUlZvtIMUEU1Mc7Pwtvqd+h8wDidfZmt+aQLx/jmrpM+u7ZUhg==)

cloud:
  aws:
    credentials:
      accessKey: ENC(qnoRD48Vb/ynF7VFZA8jn3sH8Pf8F3EMLCuHAwFA5yM+dtFiXPANaTQqO/pBxlM+IFp3yDJsVZYJ25EnB8xJVw==)
      secretKey: ENC(vkgcPsB5+80n3xZIS5v3NDUP+zphtLKkOJtRU5Jne7dc3+hjp03xoKMS0gCPipYo3CFsf4d2U6DPO+8WEtHayPdLL6nLsF2lBoDDlTVnboY=)
    s3:
      bucket: ENC(qiCvK88VEfG/jiQV5q16VvdMW1Suru/f5cmfa53G+inOx1hDi+S+NUAXJCkZuTyq)
    region:
      static: ap-northeast-2
    stack:
      auto: false
